@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Inventorymanagement.ViewModels.CreateUserViewModel

@{
    ViewBag.Title = "Create new User";
    Layout = "_Layout";
}
<h2>Create New User</h2>
<form asp-action="CreateUser" method="post">
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" type="password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Role" class="form-label">Role</label>
        <select asp-for="Role" asp-items="@(new SelectList(Model.AvailableRoles))" class="form-select">
            <option value="">-- Select Role --</option>
        </select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create User</button>
</form>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}