@page
@model Inventorymanagement.Areas.Identity.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>page without a use, probably will be blocked in future by middleware</p>


